In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
DATA_DIR_PATH = 'results/simulation/200cust'
INSTANCE_NAME = 'C1_2_1'

In [3]:
result_CARG_file_path = os.path.join(
    DATA_DIR_PATH, f'{INSTANCE_NAME}_result_CARG.csv'
)
result_CARG_df = pd.read_csv(result_CARG_file_path, header=None, index_col=0, names = ['CARG'])
result_CARG_df

                                 CARG
TOTALCOST                 2704.567766
TOTAL_NUMBER_OF VEHICLES    20.000000
CONSTRUCTION_TIME            2.800000
IMPROVEMENT_TIME           102.700000
ELAPSED_TIME               105.500000

In [4]:
result_ortools_file_path = os.path.join(
    DATA_DIR_PATH, f'{INSTANCE_NAME}_result_ortools.csv'
)
result_ortools_df = pd.read_csv(result_ortools_file_path, header=None, index_col=0, names = ['ORTools'])
result_ortools_df

                              ORTools
TOTALCOST                 2707.415062
TOTAL_NUMBER_OF VEHICLES    20.000000
ELAPSED_TIME                10.526384

In [5]:
result_df = pd.concat([result_CARG_df, result_ortools_df], axis =1)
result_df

                                 CARG      ORTools
TOTALCOST                 2704.567766  2707.415062
TOTAL_NUMBER_OF VEHICLES    20.000000    20.000000
CONSTRUCTION_TIME            2.800000          NaN
IMPROVEMENT_TIME           102.700000          NaN
ELAPSED_TIME               105.500000    10.526384

In [6]:
result_optimal_file_path = os.path.join(
    'data/optimal_solution/Best_known_results_for_200cust.csv'
)
optimal_result_df = pd.read_csv(result_optimal_file_path, header=0)
display(optimal_result_df)
distance_value = optimal_result_df.loc[optimal_result_df['Instance'] == f'{INSTANCE_NAME.lower()}', 'Distance'].values[0]
vehicle_value = optimal_result_df.loc[optimal_result_df['Instance'] == f'{INSTANCE_NAME.lower()}', 'Vehicles'].values[0]
print(distance_value, vehicle_value)
result_df['Optimal Sol'] = [distance_value, vehicle_value, 999, 999, 999]
result_df = result_df.replace(999, np.nan)
result_df

,Instance,Vehicles,Distance,Reference,Date,Comment
0,c1_2_1,20,2704.57,GH,2001,Detailed solution by SAM::OPT
1,c1_2_2,18,2917.89,BVH,2001,Detailed solution by SCR
2,c1_2_3,18,2707.35,BSJ2,20-sep-07,Detailed solution by SCR
3,c1_2_4,18,2643.31,BSJ2,20-sep-07,Detailed solution by SCR
4,c1_2_5,20,2702.05,GH,2001,Detailed solution by SAM::OPT
5,c1_2_6,20,2701.04,GH,2001,Detailed solution by SAM::OPT
6,c1_2_7,20,2701.04,GH,2001,Detailed solution by SAM::OPT
7,c1_2_8,19,2775.48,BC4,05-apr-12,NaN
8,c1_2_9,18,2687.83,MB,02-sep-13,NaN
9,c1_2_10,18,2643.51,MB,10-may-05,"There are questions whether 2643.51 is valid, ..."
10,c2_2_1,6,1931.44,GH,2001,Detailed solution by SAM::OPT
11,c2_2_2,6,1863.16,GH,2001,Detailed solution by SAM::OPT
12,c2_2_3,6,1775.08,NBD,2009,Detailed solution by BC4
13,c2_2_4,6,1703.43,PGDR,17-oct-07,Detailed solution by SCR
14,c2_2_5,6,1878.85,BVH,2001,Detailed solution by SCR
15,c2_2_6,6,1857.35,B,2001,Detailed solution by SAM::OPT
16,c2_2_7,6,1849.46,GH,2001,Detailed solution by SAM::OPT
17,c2_2_8,6,1820.53,RP,25-feb-05,Detailed solution by SCR
18,c2_2_9,6,1830.05,RP,25-feb-05,Detailed solution by SCR
19,c2_2_10,6,1806.58,NBD,2009,Detailed solution by BC4
20,r1_2_1,20,4784.11,NBD,2009,Detailed solution by BC4
21,r1_2_2,18,4039.86,MB2,18-jul-12,There are questions whether 4039.86 is valid
22,r1_2_3,18,3381.96,BSJ2,20-sep-07,Detailed solution by SCR
23,r1_2_4,18,3057.81,NBD,2009,Detailed solution by VCGP
24,r1_2_5,18,4107.86,PGDR,17-oct-07,Detailed solution by SCR
25,r1_2_6,18,3583.14,PGDR,17-oct-07,Detailed solution by SCR
26,r1_2_7,18,3150.11,BSJ2,20-sep-07,Detailed solution by SCR
27,r1_2_8,18,2951.99,NBD,2009,Detailed solution by VCGP
28,r1_2_9,18,3760.58,PGDR,17-oct-07,Detailed solution by SCR
29,r1_2_10,18,3301.18,BSJ2,20-sep-07,Detailed solution by SCR
30,r2_2_1,4,4483.16,BSJ2,20-sep-07,Detailed solution by SCR
31,r2_2_2,4,3621.20,BSJ2,20-sep-07,Detailed solution by SCR
32,r2_2_3,4,2880.62,BSJ2,20-sep-07,Detailed solution by SCR
33,r2_2_4,4,1981.29,MB,16-sep-03,There are questions whether 1981.29 is correct...
34,r2_2_5,4,3366.79,BSJ2,20-sep-07,Detailed solution by SCR
35,r2_2_6,4,2913.03,PGDR,17-oct-07,Detailed solution by SCR
36,r2_2_7,4,2451.14,BSJ2,20-sep-07,Detailed solution by SCR
37,r2_2_8,4,1849.87,MB,16-sep-03,Detailed solution by SCR
38,r2_2_9,4,3092.04,NBD,2009,Detailed solution by BC4
39,r2_2_10,4,2654.97,BSJ2,20-sep-07,Detailed solution by SCR
40,rc1_2_1,18,3602.80,PGDR,17-oct-07,Detailed solution by SCR
41,rc1_2_2,18,3249.05,BC4,05-april-12,NaN
42,rc1_2_3,18,3008.33,BSJ2,20-sep-07,Detailed solution by SCR
43,rc1_2_4,18,2851.68,NBD,2009,Detailed solution by VCGP
44,rc1_2_5,18,3371.00,BC4,05-april-12,NaN
45,rc1_2_6,18,3324.80,PGDR,17-oct-07,Detailed solution by SCR
46,rc1_2_7,18,3189.32,BSJ2,20-sep-07,Detailed solution by SCR
47,rc1_2_8,18,3083.93,PGDR,17-oct-07,Detailed solution by SCR
48,rc1_2_9,18,3081.13,NBD,2009,Detailed solution by VCGP
49,rc1_2_10,18,3000.30,VCGP,31-jul-12,NaN
50,rc2_2_1,6,3099.53,BSJ2,20-sep-07,Detailed solution by SCR
51,rc2_2_2,5,2825.24,PGDR,17-oct-07,Detailed solution by SCR
52,rc2_2_3,4,2601.87,NBD,2009,Detailed solution by BC4
53,rc2_2_4,4,2038.56,BC4,2009,NaN
54,rc2_2_5,4,2911.46,BSJ2,20-sep-07,Detailed solution by SCR
55,rc2_2_6,4,2873.12,NBD,2009,Detailed solution by BC4
56,rc2_2_7,4,2525.83,BSJ2,20-sep-07,Detailed solution by SCR
57,rc2_2_8,4,2292.53,VCGP,31-jul-12,NaN
58,rc2_2_9,4,2175.04,BSJ2,20-sep-07,Detailed solution by SCR
59,rc2_2_10,4,2015.60,MB,16-sep-03,There are questions whether 2015.60 is correct...

2704.57 20

                                 CARG      ORTools  Optimal Sol
TOTALCOST                 2704.567766  2707.415062      2704.57
TOTAL_NUMBER_OF VEHICLES    20.000000    20.000000        20.00
CONSTRUCTION_TIME            2.800000          NaN          NaN
IMPROVEMENT_TIME           102.700000          NaN          NaN
ELAPSED_TIME               105.500000    10.526384          NaN

In [7]:
result_df['difference1'] = result_df['ORTools'] - result_df['CARG']
result_df['rate1'] = result_df['difference1'] / result_df['CARG'] *100
result_df['difference2'] = result_df['CARG'] - result_df['Optimal Sol']
result_df['rate2'] = result_df['difference2'] / result_df['Optimal Sol'] *100
result_df['difference3'] = result_df['ORTools'] - result_df['Optimal Sol']
result_df['rate3'] = result_df['difference3'] / result_df['Optimal Sol'] *100
result_df

,CARG,ORTools,Optimal Sol,difference1,rate1,difference2,rate2,difference3,rate3
TOTALCOST,2704.567766,2707.415062,2704.57,2.847296,0.105277,-0.002234,-0.000083,2.845062,0.105195
TOTAL_NUMBER_OF VEHICLES,20.000000,20.000000,20.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CONSTRUCTION_TIME,2.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMPROVEMENT_TIME,102.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ELAPSED_TIME,105.500000,10.526384,NaN,-94.973616,-90.022384,NaN,NaN,NaN,NaN

In [8]:
# save
result_file_path = os.path.join(
    'comparison/100cust', f'{INSTANCE_NAME}_comparison_result.csv'
)
# result_df.to_csv(result_file_path, header=True)