In [25]:
import os
import pandas as pd
import numpy as np

In [26]:
num_cust= '200cust'
RATE_NAME = 'rate1'
DATA_DIR_PATH = f'results/comparison/{num_cust}'
INSTANCE_NAME = 'C1_2_1'

In [27]:
result_file_path = os.path.join(
    DATA_DIR_PATH, f'{INSTANCE_NAME}_comparison_result.csv'
)
result_df = pd.read_csv(result_file_path, header=0, index_col=0)
rate_df = result_df[RATE_NAME]
display(result_df)
rate_dict = rate_df.to_dict()
rate_dict
# result_df

,CARG,ORTools,Optimal Sol,difference1,rate1,difference2,rate2,difference3,rate3
TOTALCOST,2704.567766,2707.415062,2704.57,-2.847296,-0.105167,-0.002234,-0.000083,2.845062,0.105195
TOTAL_NUMBER_OF VEHICLES,20.000000,20.000000,20.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CONSTRUCTION_TIME,2.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMPROVEMENT_TIME,102.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ELAPSED_TIME,105.500000,10.526384,NaN,94.973616,902.243472,NaN,NaN,NaN,NaN

{'TOTALCOST': -0.1051665757660373,
 'TOTAL_NUMBER_OF VEHICLES': 0.0,
 'CONSTRUCTION_TIME': nan,
 'IMPROVEMENT_TIME': nan,
 'ELAPSED_TIME': 902.243471791351}

In [28]:
def total(instance_name, rate_name):
    DATA_DIR_PATH = f'results/comparison/{num_cust}'
    result_file_path = os.path.join(
        DATA_DIR_PATH, f'{instance_name}_comparison_result.csv'
    )
    if os.path.exists(result_file_path):
        result_df = pd.read_csv(result_file_path, header=0, index_col=0)
        # 'rate1':rate of differences between cns and ortools
        # 'rate2':rate of differences between cns and optimal solution
        # 'rate2':rate of differences between ortools and optimal solution
        rate_df = result_df[rate_name] 
        rate_dict = rate_df.to_dict()
        
        # In[62]:
        new_row = {'case':instance_name}
        new_row.update(rate_dict)
        return new_row
    else:
        return 0

In [29]:
total(INSTANCE_NAME, RATE_NAME)

{'case': 'C1_2_1',
 'TOTALCOST': -0.1051665757660373,
 'TOTAL_NUMBER_OF VEHICLES': 0.0,
 'CONSTRUCTION_TIME': nan,
 'IMPROVEMENT_TIME': nan,
 'ELAPSED_TIME': 902.243471791351}

In [30]:
new_row = {'case':INSTANCE_NAME}
new_row.update(rate_dict)
new_row

{'case': 'C1_2_1',
 'TOTALCOST': -0.1051665757660373,
 'TOTAL_NUMBER_OF VEHICLES': 0.0,
 'CONSTRUCTION_TIME': nan,
 'IMPROVEMENT_TIME': nan,
 'ELAPSED_TIME': 902.243471791351}

In [31]:
df = pd.DataFrame(columns=[
    'case',
    'TOTALCOST',
    'TOTAL_NUMBER_OF VEHICLES',
    'CONSTRUCTION_TIME',
    'IMPROVEMENT_TIME',
    'ELAPSED_TIME'])
df

Empty DataFrame
Columns: [case, TOTALCOST, TOTAL_NUMBER_OF VEHICLES, CONSTRUCTION_TIME, IMPROVEMENT_TIME, ELAPSED_TIME]
Index: []

In [32]:
# df.append(new_row, ignore_index=True)
df_add = pd.DataFrame(new_row, index=[0])
df = pd.concat([df,df_add], ignore_index=True)
df

,case,TOTALCOST,TOTAL_NUMBER_OF VEHICLES,CONSTRUCTION_TIME,IMPROVEMENT_TIME,ELAPSED_TIME
0,C1_2_1,-0.105167,0.0,NaN,NaN,902.243472

In [33]:
df.set_index('case')

,TOTALCOST,TOTAL_NUMBER_OF VEHICLES,CONSTRUCTION_TIME,IMPROVEMENT_TIME,ELAPSED_TIME
case,,,,,
C1_2_1,-0.105167,0.0,NaN,NaN,902.243472